{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'blank/css/main.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><span class="logo">Al'fora</span></a>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Запись</a></li>
            </ul>
        </nav>
    </header>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-1">
            <label for="formFileMultiple"></label>
            <input type="file" name="file_passport" id="formFileMultiple">
            <input type="file" name="file_snils" id="formFileMultiple">
            <input type="file" name="file_lvplc" id="formFileMultiple">
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="{{ MEDIA_URL }}upldfile/docx/test.docx" download="test.txt">Бланк!</a>
    {% block content %}
    {% endblock %}
</body>
</html>