{% extends 'blank/layout.html' %}
{% block title %}Al'fora{% endblock %}
{% block main %}
<div class="container">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-1">
            <label for="formFileMultiple"></label>
            <input class="pas" type="file" name="file_passport" id="formFileMultiple" accept="image/*" >
            <input class="sni" type="file" name="file_snils" id="formFileMultiple" accept="image/*" >
            <input class="live" type="file" name="file_lvplc" id="formFileMultiple" accept="image/*" >
        </div>
        <div class="mb-1__btn">
            <button class="mb-1__btn-style blank-btn" type="submit">Отправить данные</button>
        </div>
    </form>
    <div class="blank-btn">
        <a href="{{ MEDIA_URL }}upldfile/docx/test.docx" download="test.docx">Скачать бланк</a>
    </div>
</div>
{% endblock %}