::-webkit-scrollbar {
  width: 0;
}

:root {
  --index: calc(1vw + 1vh);
  --main-bg-color: #fff;
  --main-text-color: black;
  --main-accent-color: #1a95e7;
  --main-line-color: var(--main-text-color);
  --main-line-size: calc(var(--index) * .025);
  --main-oppacity: .8;
  --main-padding: 0 calc(var(--index) * 12.5);
}

body {
    background: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
}

header {
    background: #fff;
    margin: auto 15%;

    height: calc(var(--index) * 3);

    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-between;

    border-bottom: solid 1px black;
}

.logo {
    color: black;

    font-size: calc(var(--index) * 1.4);
}

header a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    color: black;
    margin-left: calc(var(--index) * 1);

    font-size: calc(var(--index) * .9);
}

nav ul li, nav ul a {
    color: black;
    text-decoration: none;
}

nav ul li:hover, nav ul li a:hover {
    color: var(--main-accent-color);
}

/* ------------------------------ */

form {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: calc(var(--index) * 4) 15% 0 15%;
}

/* button[type="submit"]{
    z-index: 2;
    height: 50px;
    width: 50px;
    display: block;
} */

input[type="file"]{
    /* z-index: 2;
    height: 50px;
    width: 50px;
    display: block; */
    border: solid 1px black;
    border-radius: 10px;
}

.blank-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin-top: calc(var(--index) * 2.5);

}

.blank-btn a {
    text-decoration: none;
    appearance: none;
    border: 0;
    border-radius: calc(var(--index) * .5);
    background: var(--main-accent-color);
    color: var(--main-bg-color);
    padding: calc(var(--index) * .7) calc(var(--index) * 1);
    font-size: calc(var(--index) * .9);
}

.blank-btn a:hover {
    opacity: .5;
}

.mb-1 {
    display: block;
}

.mb-1__btn {
    display: block;
    margin-top: calc(var(--index) * 2.5);
}

.mb-1__btn-style:hover {
    cursor: pointer;
}

.mb-1__btn-style {
    text-decoration: none;
    appearance: none;
    border: 0;
    border-radius: calc(var(--index) * .5);
    background: var(--main-accent-color);
    color: var(--main-bg-color);
    padding: calc(var(--index) * .7) calc(var(--index) * 1);
    font-size: calc(var(--index) * .9);
}

/* ====================== FOOTER ==================== */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(var(--index) * 5);
    background-color: var(--main-accent-color);
}

.iau {
    margin: 0 15%;
    background-color: black;
}

/* ========================== */

.pas::before{
    content: "Паспорт";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}

.sni::before{
    content: "СНИЛС";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}

.live::before{
    content: "Прописка";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}