form {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: calc(var(--index) * 4) 15% 0 15%;
}

/* button[type="submit"]{
    z-index: 2;
    height: 50px;
    width: 50px;
    display: block;
} */

input[type="file"]{
    /* z-index: 2;
    height: 50px;
    width: 50px;
    display: block; */
    border: solid 1px black;
    border-radius: 10px;
}

.blank-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin-top: calc(var(--index) * 2.5);

}

.blank-btn a {
    text-decoration: none;
    appearance: none;
    border: 0;
    border-radius: calc(var(--index) * .5);
    background: var(--main-accent-color);
    color: var(--main-bg-color);
    padding: calc(var(--index) * .7) calc(var(--index) * 1);
    font-size: calc(var(--index) * .9);
}

.blank-btn a:hover {
    opacity: .5;
}

.mb-1 {
    display: block;
}

.mb-1__btn {
    display: block;
    margin-top: calc(var(--index) * 2.5);
}

.mb-1__btn-style:hover {
    cursor: pointer;
}

.mb-1__btn-style {
    text-decoration: none;
    appearance: none;
    border: 0;
    border-radius: calc(var(--index) * .5);
    background: var(--main-accent-color);
    color: var(--main-bg-color);
    padding: calc(var(--index) * .7) calc(var(--index) * 1);
    font-size: calc(var(--index) * .9);
}

/* ====================== FOOTER ==================== */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(var(--index) * 5);
}

.iau {
    height: 100%;
    margin: 0 15%;
    border-top: 1px solid black;
}

/* ========================== */

.pas::before{
    content: "Паспорт";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}

.sni::before{
    content: "СНИЛС";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}

.live::before{
    content: "Прописка";
    display: block;
    color: black;
    font-size: calc(var(--index) * .8);
    text-align: center;
}